.center {
    text-align: center;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin-top: 0px;
}

h1 {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.spacing{
    margin-bottom: 20px;
}

.disp-vert {
    display: table;
}

ul.disp-vert li {
    vertical-align: middle;
    display: table-cell;
}

ul.disp-vert li:nth-child(n+2) {
    padding-left: 60px;
}

.prof-pic {
    float: left;
}

img {
    min-width: 5%;
    max-width: 4%;
    height: auto;
}

table {
    padding-left: 40px;
}

.center h1 {
    margin-top: 0px;
}