* {
    /* Used for considering paddings and borders in width percentages */
    /* NOTE: Margins are not included */
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.header {
    text-align: center;
}

img {
    width: auto;
    height: 150px;
}

ul {
    list-style-type: none;
    margin-top: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

h4 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

table {
    margin: 10px 0;
    border-collapse: collapse;
    width: calc(85% - 10px);
}

td, th {
    padding: 10px 35px;
    text-align: center;
}

.spacing{
    margin-bottom: 20px;
}

.mobile {
    column-count: 2;
    list-style-type: circle;
}

.mobile li {
    padding: 5px 0;
}


/* Mediano */
@media (min-width: 600px) and (max-width: 990px) {
    body {
        padding: 20px 50px;
    }
    .disp-vert {
        display: table;
    }   

    ul.disp-vert li {
        vertical-align: middle;
        display: table-cell;
    }

    ul.disp-vert li:nth-child(n+2) {
        padding-left: 60px;
    }

    table {
        margin: 10px 0px 10px 10px;
    }


}

/* Grande */
@media (min-width: 991px) {

    html {
        background-color: #f2faff;
    }

    body {
        width: 55%;
        margin: 10px auto 10px auto;
        background-color: white;
        padding: 50px;
        border: 1px solid #c6c6c6;
        border-radius: 20px;
    }

    .disp-vert {
        display: table;
    }   

    ul.disp-vert li {
        vertical-align: middle;
        display: table-cell;
    }

    ul.disp-vert li:nth-child(n+2) {
        padding-left: 30px;
    }

    .header {
        overflow: auto;
    }

    img {
        float: left;
    }

    h1 {
        margin-top: 16.5px;
    }

    table {
        margin: 10px 0px 10px 40px;
    }

    td, th {
        padding: 5px 0px;
        text-align: left;
    }
}